<a href="https://colab.research.google.com/github/dubeyshubham786/Python_libraries/blob/main/Pandas_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Grouping and Aggregating: Analysising and exporting your data

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
df = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Github/Pandas/imdb_data.csv', index_col='id')

In [ ]:
df.head(2)

                                belongs_to_collection  ...   revenue
id                                                     ...
1   [{'id': 313576, 'name': 'Hot Tub Time Machine ...  ...  12314651
2   [{'id': 107674, 'name': 'The Princess Diaries ...  ...  95149435

[2 rows x 22 columns]

In [ ]:
# First just look at the runtime 

df['runtime'].head(15)

id
1      93.0
2     113.0
3     105.0
4     122.0
5     118.0
6      83.0
7      92.0
8      84.0
9     100.0
10     91.0
11    119.0
12     98.0
13    122.0
14    118.0
15    145.0
Name: runtime, dtype: float64

In [ ]:
# If we want median of this runtime columns

df['runtime'].median()

104.0

In [ ]:
# We can also take the median of the entire dataframe

df.median()

# This function look at the entire dataframe and which ever column contains numeric value it will give that median

budget        8.000000e+06
popularity    7.374861e+00
runtime       1.040000e+02
revenue       1.680707e+07
dtype: float64

In [ ]:
# To get the broad overview of our data we should look describe method

df.describe()

# Here the count values is the number of non NaN rows

             budget   popularity      runtime       revenue
count  3.000000e+03  3000.000000  2998.000000  3.000000e+03
mean   2.253133e+07     8.463274   107.856571  6.672585e+07
std    3.702609e+07    12.104000    22.086434  1.375323e+08
min    0.000000e+00     0.000001     0.000000  1.000000e+00
25%    0.000000e+00     4.018053    94.000000  2.379808e+06
50%    8.000000e+06     7.374861   104.000000  1.680707e+07
75%    2.900000e+07    10.890983   118.000000  6.891920e+07
max    3.800000e+08   294.337037   338.000000  1.519558e+09

In [ ]:
# If we want to know how many are non NaN values in a particular column 
# Then we can do that by running the count method on a single column

df['runtime'].count()

2998

In [ ]:
df.shape

(3000, 22)

In [ ]:
# To see how many movies are there whose runtime is same.
# For this we will use value_counts() method

df['runtime'].value_counts().head(25)

# Here we can see that there are total 100 movies whose runtime is 90 minutes
# 99 movies whose runtime is 100, 91 movies whose runtime is 105 minutes and so on.

90.0     100
100.0     99
105.0     91
95.0      89
98.0      85
97.0      82
99.0      80
93.0      78
96.0      78
108.0     77
106.0     73
89.0      67
94.0      66
104.0     63
102.0     62
91.0      60
107.0     59
103.0     56
110.0     54
101.0     54
113.0     52
87.0      51
115.0     49
112.0     48
120.0     48
Name: runtime, dtype: int64

In [ ]:
# Now if we want to show this in percentage then 

df['runtime'].value_counts(normalize=True)

# There are 3.33356% movies in our dataframe whose length is 90 minutes
# similarly 2.835% movies in our dataframe whose lenght is 98 minutes and so on.

90.0     0.033356
100.0    0.033022
105.0    0.030354
95.0     0.029686
98.0     0.028352
           ...
11.0     0.000334
62.0     0.000334
66.0     0.000334
248.0    0.000334
177.0    0.000334
Name: runtime, Length: 139, dtype: float64

In [ ]:
# Now if we want to see how many movies whose original language is English 
# For this we will use the groupby function 

df['original_language'].value_counts()

en    2575
fr      78
ru      47
es      43
hi      42
ja      37
it      24
ko      20
cn      20
zh      19
de      18
ta      16
sv       8
nl       6
pt       6
da       5
fa       5
ro       4
hu       3
tr       3
pl       2
te       2
fi       2
ml       2
no       2
nb       1
sr       1
he       1
el       1
vi       1
bn       1
id       1
cs       1
ar       1
ur       1
mr       1
Name: original_language, dtype: int64

In [ ]:
# Now to group this languages we use groupby function

language_group = df.groupby(['original_language'])

In [ ]:
# Now if we want a list of movies whose original language is English we will use get_group function

language_group.get_group('en').head()

# You get a dataframe with original langauge is english

                                belongs_to_collection  ...   revenue
id                                                     ...
1   [{'id': 313576, 'name': 'Hot Tub Time Machine ...  ...  12314651
2   [{'id': 107674, 'name': 'The Princess Diaries ...  ...  95149435
3                                                 NaN  ...  13092000
6                                                 NaN  ...   3261638
7                                                 NaN  ...  85446075

[5 rows x 22 columns]

In [ ]:
# We can still get the same result
# Here it will grab all the values whose having original language is English

filt = df['original_language'] == 'en'

# The apply this to our dataframe

df.loc[filt].head()

                                belongs_to_collection  ...   revenue
id                                                     ...
1   [{'id': 313576, 'name': 'Hot Tub Time Machine ...  ...  12314651
2   [{'id': 107674, 'name': 'The Princess Diaries ...  ...  95149435
3                                                 NaN  ...  13092000
6                                                 NaN  ...   3261638
7                                                 NaN  ...  85446075

[5 rows x 22 columns]

In [ ]:
# Now we can see the longest movies by the original language

df.loc[filt]['original_language'].value_counts()

en    2575
Name: original_language, dtype: int64

In [ ]:
#  If we want median runtime on the basis of original language

language_group['runtime'].median()

# Here the indexes is the language

original_language
ar     98.0
bn    125.0
cn    105.5
cs     90.0
da    106.0
de    120.0
el     91.0
en    103.0
es     96.0
fa     94.0
fi    100.0
fr    105.0
he     90.0
hi    145.5
hu    121.0
id    150.0
it    104.5
ja    116.0
ko    119.0
ml    137.0
mr    162.0
nb    103.0
nl    107.5
no     95.5
pl     99.0
pt    111.5
ro    110.5
ru     97.0
sr     97.0
sv    111.0
ta    157.0
te    146.0
tr    117.0
ur     94.0
vi    135.0
zh    125.0
Name: runtime, dtype: float64

In [ ]:
# So if we want to grab a median by a particular language 
# Let's say we want to know the median of a movie whose original language is hindi

language_group['runtime'].median().loc['hi']

145.5

In [ ]:
# Let's say if we want multiple aggregate function then

language_group['runtime'].agg(['median', 'mean'])

# We get a dataframe of median and mean runtime of each movie

                   median        mean
original_language
ar                   98.0   98.000000
bn                  125.0  125.000000
cn                  105.5  105.450000
cs                   90.0   90.000000
da                  106.0  105.400000
de                  120.0  122.294118
el                   91.0   91.000000
en                  103.0  106.984078
es                   96.0  100.372093
fa                   94.0   96.400000
fi                  100.0  100.000000
fr                  105.0  106.294872
he                   90.0   90.000000
hi                  145.5  148.880952
hu                  121.0  126.000000
id                  150.0  150.000000
it                  104.5   91.625000
ja                  116.0  112.972973
ko                  119.0  115.100000
ml                  137.0  137.000000
mr                  162.0  162.000000
nb                  103.0  103.000000
nl                  107.5  107.333333
no                   95.5   95.500000
pl                   99.0   99.000000
pt                  111.5  114.666667
ro                  110.5  108.750000
ru                   97.0   95.586957
sr                   97.0   97.000000
sv                  111.0  122.375000
ta                  157.0  159.875000
te                  146.0  146.000000
tr                  117.0  119.000000
ur                   94.0   94.000000
vi                  135.0  135.000000
zh                  125.0  121.368421

In [ ]:
# Lets say if we want this for a movie whose original language is hindi

language_group['runtime'].agg(['median', 'mean']).loc['hi']

median    145.500000
mean      148.880952
Name: hi, dtype: float64